# Ignore Python virtual environment
backend/drf_backend/venv/

# Ignore TensorFlow binaries
backend/drf_backend/venv/Lib/site-packages/tensorflow/

# Ignore specific large files
ai/trained_model.h5
backend/drf_backend/venv/Lib/site-packages/clang/native/libclang.dll
backend/drf_backend/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd